/*Body*/
.body {
  font-family: lato;
  color: #353b50; }

h1 {
  font-family: lato;
  color: #353b50; }

h2 {
  font-family: lato;
  color: #353b50; }

h3 {
  font-family: lato;
  color: #353b50; }

h4 {
  font-family: lato;
  color: #353b50; }

b {
  font-family: lato;
  color: #353b50; }

p {
  font-family: lato;
  color: #353b50; }

/*End Body*/
/*Logo*/
.logo {
  width: 140px;
  padding-top: 20px;
  margin-left: 100px; }

/*End Logo*/
/*Home & Contact*/
.home {
  padding: 20px;
  font-family: lato;
  color: #353b50;
  font-weight: 500; }

.contact {
  padding: 20px;
  font-family: lato;
  color: #353b50;
  font-weight: 500; }

/*End Home & Contact*/
/*Section atas*/
.bgataskiri {
  max-width: 100%;
  max-height: 1113px; }

.ui.button {
  background-color: #0091ea !important;
  color: white !important;
  min-width: 100px !important; }

.ui.form {
  margin-right: 60px !important; }

.ui.card {
  padding-top: 5px;
  padding-bottom: 5px; }

.hargaperbulan {
  color: #0091ea; }

.checked {
  color: orange; }

.overlay.fluid {
  position: absolute;
  bottom: 10%;
  right: 0%;
  background-color: white;
  font-size: 9pt; }

#loc {
  font-size: 12pt !important;
  margin-top: 5px;
  text-align: left; }

/*End Slider*/
/*Footer*/
#footer {
  height: 35px;
  background-image: linear-gradient(142deg, #3c9ce5, #42b8fc);
  text-align: center;
  font-size: 12pt;
  color: white;
  vertical-align: center; }

/*End Footer*/
/*Responsive*/
@media screen and (min-device-width: 769px) and (max-device-width: 1025px) {
  .logo {
    margin-left: 30px;
    max-width: 70% !important; }

  .home {
    font-weight: 600;
    font-size: 10pt; }

  .contact {
    font-weight: 600;
    font-size: 10pt;
    padding: 5px !important; }

  .content {
    margin-top: 10px !important; }

  .ui.form {
    margin-right: 0px !important; }

  #imgfilter {
    max-width: 30px !important; }

  #berlangganan {
    height: 400px !important;
    margin-top: 45px; }

  #langganan {
    width: 600px !important; }

  #logobawah {
    float: right !important; }

  #jarak {
    display: none; } }
@media screen and (min-device-width: 415px) and (max-device-width: 768px) {
  .logo {
    margin-left: 10px;
    max-width: 70% !important; }

  .home {
    font-weight: 600;
    font-size: 10pt; }

  .contact {
    font-weight: 600;
    font-size: 10pt;
    padding: 5px !important; }

  .content {
    margin-top: 10px !important; }

  .ui.selection.dropdown {
    padding-left: 0px !important; }

  .ui.form {
    margin-right: 0px !important; }

  #berlangganan {
    height: 400px !important;
    margin-top: 45px; }

  #langganan {
    width: 600px !important; }

  #logobawah {
    float: right !important; }

  #jarak {
    display: none; } }
@media screen and (min-device-width: 376px) and (max-device-width: 414px) {
  .logo {
    margin-left: 10px;
    max-width: 200% !important; }

  .home {
    display: none; }

  .contact {
    display: none; }

  #inputdata {
    height: 450px !important; }

  #main {
    height: 2200px !important; }

  #cardlist {
    margin-left: 15px !important; }

  #gmap {
    height: 500px;
    padding-bottom: 60px !important; }

  #mapbox {
    height: 500px !important; }

  .content {
    margin-top: 10px !important; }

  .ui.form {
    margin-right: 0px !important; }

  #berlangganan {
    height: 700px !important;
    margin-top: 45px; }

  #langganan {
    width: 330px !important; }

  #logobawah {
    float: left !important; }

  #jarak {
    display: none; } }
@media screen and (max-device-width: 375px) {
  .logo {
    margin-left: 10px;
    max-width: 200% !important; }

  .home {
    display: none; }

  .contact {
    display: none; }

  #inputdata {
    height: 450px !important; }

  #main {
    height: 2200px !important; }

  #cardlist {
    margin-left: 15px !important; }

  #gmap {
    height: 500px;
    padding-bottom: 60px !important; }

  #mapbox {
    height: 500px !important; }

  .content {
    margin-top: 10px !important; }

  .ui.form {
    margin-right: 0px !important; }

  #berlangganan {
    height: 700px !important;
    margin-top: 45px; }

  #langganan {
    width: 330px !important; }

  #logobawah {
    float: left !important; }

  #jarak {
    display: none; } }

/*# sourceMappingURL=style.css.map */
