
/*Responsive*/
@media screen and (min-device-width: 769px) and (max-device-width:1025px){
	.logo {
		margin-left: 30px;
		max-width: 70% !important;
	}
	.home {
		font-weight: 600;
		font-size: 10pt;
	}
	.contact {
		font-weight: 600;
		font-size: 10pt;
		padding: 5px !important;
	}
	.content {
		margin-top: 10px !important;
	}
	.ui.form {
		margin-right: 0px !important;
	}
	#imgfilter {
		max-width: 30px !important;
	}
	#berlangganan {
		height: 400px !important;
		margin-top: 45px;
	}
	#langganan {
		width: 600px !important;
	}
	#logobawah {
		float: right !important;
	}
	#jarak {
		display: none;
	}
}
@media screen and (min-device-width: 415px) and (max-device-width:768px){
	.logo {
		margin-left: 10px;
		max-width: 70% !important;
	}
	.home {
		font-weight: 600;
		font-size: 10pt;
	}
	.contact {
		font-weight: 600;
		font-size: 10pt;
		padding: 5px !important;
	}
	.content {
		margin-top: 10px !important;
	}
	.ui.selection.dropdown{
		padding-left: 0px !important;
	}
	.ui.form {
		margin-right: 0px !important;
	}
	#berlangganan {
		height: 400px !important;
		margin-top: 45px;
	}
	#langganan {
		width: 600px !important;
	}
	#logobawah {
		float: right !important;
	}
	#jarak {
		display: none;
	}
}
@media screen and (min-device-width: 376px) and (max-device-width:414px){
	.logo {
		margin-left: 10px;
		max-width: 200% !important;
	}
	.home {
		display: none;
	}
	.contact {
		display: none;
	}
	#inputdata {
		height: 450px !important;
	}
	#main {
		height: 2200px !important;
	}
	#cardlist {
		margin-left: 15px !important;
	}
	#gmap{
		height: 500px;
		padding-bottom: 60px !important;

	} 
	#mapbox {
		height: 500px !important;
	}
	.content {
		margin-top: 10px !important;
	}
	.ui.form {
		margin-right: 0px !important;
	}
	#berlangganan {
		height: 700px !important;
		margin-top: 45px;
	}
	#langganan {
		width: 330px !important;
	}
	#logobawah {
		float: left !important;
	}
	#jarak {
		display: none;
	}
}

@media screen and (max-device-width:375px){
	.logo {
		margin-left: 10px;
		max-width: 200% !important;
	}
	.home {
		display: none;
	}
	.contact {
		display: none;
	}
	#inputdata {
		height: 450px !important;
	}
	#main {
		height: 2200px !important;
	}
	#cardlist {
		margin-left: 15px !important;
	}
	#gmap{
		height: 500px;
		padding-bottom: 60px !important;

	} 
	#mapbox {
		height: 500px !important;
	}
	.content {
		margin-top: 10px !important;
	}
	.ui.form {
		margin-right: 0px !important;
	}
	#berlangganan {
		height: 700px !important;
		margin-top: 45px;
	}
	#langganan {
		width: 330px !important;
	}
	#logobawah {
		float: left !important;
	}
	#jarak {
		display: none;
	}
}
